@mixin gradient-heading-text
    background: linear-gradient(
    135deg, var(--color-primary) 0%, var(--color-accent) 100%
    )
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    display: inline-block
