@import './fonts'
@import './variables'
@import './themes'
@import './quasar.overrides'

body
  background-color: var(--color-background)
  color: var(--text-primary)
  font-family: 'Exo 2', 'Roboto', sans-serif

