@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #2563EB;
    --color-secondary: #3B82F6;
    --color-bg: #F8FAFC;
    --color-text: #1E3A8A;
}

.dark {
    --color-primary: #8B5CF6;
    --color-secondary: #A78BFA;
    --color-bg: #0F172A;
    --color-text: #EDE9FE;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
}
